*{
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.img-fluid{
    min-width: 10%;
    max-width:  40%;
    height: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.text-uppercase{
    text-transform: uppercase;
}
nav{
    width: 100%;
    font-family: Montserrat;
    background-color: #2C3E50;
    color: #fff;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    position: fixed;
}

#logo-box{
    float: left;
}
#logo-box .logo{
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
    transition: color 0.3s;
    
}
#logo-box .logo:hover{
    color:#18BC9C;
}
#nav-links{
    float: right;
}
#nav-links .nav-item{
    float:left;
    margin: 0.4rem;
}
#nav-links .nav-link{
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding:1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.3s;
}
#nav-links .nav-link:hover{
    color: #18BC9C;
}

header{
    background-color: #18BC9C;
    height: 1080px;
    padding-top:215px;
    padding-bottom: 115px;
    text-align: center;
}

header h1{
    color:#fff;
    font-size: 7.6rem;
    padding-bottom: -40px;
}



header h2{
    font-size: 7rem;
    color: white;
    font-family: 'Lato';
    font-weight: 300;
    
}
header h4{
     padding: 50px;
    color:white;
    font-size: 3rem;
}




